<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{input.content.inputMessage1}"></h2>
    <p th:text="#{input.content.inputMessage2}"></p>
<div th:unless="${#strings.isEmpty(param.previous)}">
    <p th:text="#{input.content.message1} + ${param.previous[0]} + #{input.content.message2}"></p>
</div>
    <form method="post" action="/output">
        <input type="text" name="val">
        <button th:text="#{input.content.transmission}" type="submit"> </button>
    </form>
</body>
</html>