<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
<div th:if="${#strings.isEmpty(val)}">
    <p th:text="#{output.content.message1}"></p>
    <p><a th:text="#{output.content.message2}" th:href="@{/input}"> </a></p>
</div>
<div th:unless="${#strings.isEmpty(val)}">
    <p th:text="#{output.content.message3} + ${val} + #{output.content.message4}"></p>
    <p><a th:text=#{output.content.message2} th:href="@{/input/(previous=${param.val[0]})}"></a></p>
</div>
</body>
</html>